---
layout: default
---

<div class="home">

  <h1>Profiles</h1>

  <h2>Resource profiles</h2>
  <ul>
    {% for page in site.pages %}
      {% if page.profile_type == "resource_profile" %}
      <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Link profiles</h2>
  <ul>
    {% for page in site.pages %}
      {% if page.profile_type == "link_profile" %}
      <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
